* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #fcfcfc;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-container {
  display: flex;
  flex-direction: column;
  padding: 60px 80px;
}

.reset-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.reset-logo img {
  display: block;
  max-width: 180px;
  height: auto;
}

.reset-form {
  width: 100%;
  max-width: 480px;
}

.reset-header-text {
  padding: 10px 0;
}
.reset-header {
  font-size: 28px;
  font-weight: 700;
}

.reset-paragraph {
  font-size: 16px;
}

.form-group {
  padding: 6px 0;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0;
}

.form-group input {
  padding: 10px 20px;
  border: 1px solid #9a9696;
  font-size: 16px;
  font-weight: 100;
  border-radius: 5px;
  color: #6e6869;
  font-family: "Space Grotesk", sans-serif;

  width: 100%;
}

.form-group input:focus {
  outline: none;
}

.password-input-one {
  position: relative;
}
.password-input-one i {
  position: absolute;
  top: 55%;
  right: 16px;
  transform: translateY(25%);
  color: #22222280;
  cursor: pointer;
}

.password-input-two {
  position: relative;
}
.password-input-two i {
  position: absolute;
  top: 55%;
  right: 16px;
  transform: translateY(25%);
  color: #22222280;
  cursor: pointer;
}

.remember-me {
  display: flex;
  align-items: center;
  accent-color: #3c0d8c;
  font-size: 16px;
  padding: 5px 0;
}

.remember-me label {
  padding: 5px;
}

.error-message {
  color: #dc2626;
  font-size: 0.85rem;
  margin-top: 5px;
  display: none;
}

.form-group input.error {
  border-color: #dc2626;
}

.confirm-btn {
  width: 100%;
  padding: 14px;
  margin: 35px 0;
  font-size: 18px;
  font-weight: 700;
  color: #fcfcfc;
  background-color: #6415ea;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.back-to-login {
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #6415ea;
}
.reset-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-illustration {
  width: 100%;
  max-width: 950px;
  height: auto;
}

/* Responsiveness */

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .reset-container {
    padding: 40px 24px;
  }

  .reset-img {
    display: none;
  }
}
